@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Courier New', Courier, monospace;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: repeating-conic-gradient(
		yellow 0deg 15deg,
		orange 15deg 30deg,
		red 30deg 45deg,
		purple 45deg 60deg,
		blue 60deg 75deg,
		green 75deg 90deg
	);
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	height: 100vh;
	display: flex;
	gap: min(200px, 5%);
	padding-right: min(10%, 5px);
}

.sidebar {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.active {
  background-color: rgb(230, 243, 53);
	color: rgb(56, 2, 40);
  border: 2px solid rgb(56, 2, 40);
}

.switch-container {
	width: max(175px, 70%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px 0;
	font-family: 'Schoolbell', cursive;
	font-size: 2.2rem;
	font-weight: bold;
	color: rgb(230, 243, 53);
	background-color: rgb(56, 2, 40);
}

span {
	font-size: 2.2rem;
	font-weight: bold;
}

.switch {
	display: inline-flex;
	margin: 0 10px;
}

.switch input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch input[type='checkbox']:checked + label {
	background: green;
}

.switch input[type='checkbox']:checked + label::after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

.switch label {
	position: relative;
	height: 24px;
	width: 48px;
	display: block;
	border-radius: 24px;
	background: blue;
	cursor: pointer;
}

.switch label::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background: white;
	transition: 0.3s;
}

#btn-new-grid {
	margin-bottom: -17px;
	padding: 0;
}

.arrow {
	margin: 0 10px;
	font-size: 3rem;
}

#custom-cols {
	width: max(175px, 70%);
	border-radius: 10px;
	padding-top: 4px;
	text-align: center;
	font-family: 'Schoolbell', cursive;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 3rem;
	color: rgb(51, 45, 45);
	background-color: yellow;
}

#custom-cols::placeholder {
	text-align: center;
	color: rgb(51, 45, 45);
}

[type='color'] {
	width: 30px;
	height: 30px;
	border: none;
	padding: 0;
}

[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

#hex-text {
	margin-right: 20px;
}

button {
	width: max(175px, 70%);
	border-radius: 10px;
	padding: 10px 0;
	font-family: 'Schoolbell', cursive;
	font-size: 2.2rem;
	font-weight: bold;
	color: rgb(230, 243, 53);
	background-color: rgb(56, 2, 40);
}

#big-container {
	height: 97%;
	margin-top: 30px;
	border-radius: 30px;
	padding: 0 max(5px, 5%) 10px max(5px, 5%);
	background-color: rgb(56, 2, 40);
}

h1 {
	box-sizing: content-box;
	width: 700px;
	margin: 5px auto 0;
	text-align: center;
	font-family: 'Schoolbell', cursive;
	font-size: 12rem;
	color: rgb(230, 243, 53);
	background-color: rgb(56, 2, 40);
}

#container {
	height: 700px;
	width: 700px;
	display: grid;
	border-top: 1px solid rgb(116, 116, 116);
	border-right: 1px solid rgb(116, 116, 116);
	background-color: black;
}

.grid-item {
	border-left: 1px solid rgb(116, 116, 116);
	border-bottom: 1px solid rgb(116, 116, 116);
	background-color: rgba(255, 255, 255, 1);
}

footer {
	display: flex;
  justify-content: space-around;
  padding-top: 5px;
  text-align: center;
	font-family: 'Schoolbell', cursive;
	font-size: 2rem;
	color: rgb(230, 243, 53);
}

.github-logo {
  width: 2.5rem;
}

a {
  text-decoration: none;
  color: rgb(230, 243, 53);
}