html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 8rem;
  color: rgb(72, 72, 72);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(223, 223, 192);
}

main {
  height: 100%;
  display: flex;
  justify-content:flex-start;
  gap: 200px;
}

.sidebar {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.switch-container {
  width: 50%;
  padding: 10px 0;
  color: white;
  background-color: rgb(72, 72, 72);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

.switch {
  display: inline-flex;
  margin: 0 10px;
}

.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch input[type=checkbox]:checked + label {
  background: green;
}

.switch input[type=checkbox]:checked + label::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.switch label {
  cursor: pointer;
  width: 48px;
  height: 24px;
  background: grey;
  display: block;
  border-radius: 24px;
  position: relative;
}

.switch label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 16px;
  transition: 0.3s;
}

button {
  width: 50%;
  padding: 10px 0;
  color: white;
  background-color: rgb(72, 72, 72);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
}

#container {
  border-top: 1px solid rgb(116, 116, 116);
  border-right: 1px solid rgb(116, 116, 116);
  height: 700px;
  width: 700px;
  align-self: center;
  display: grid;
  background-color: black;
}

.grid-item {
  border-left: 1px solid rgb(116, 116, 116);
  border-bottom: 1px solid rgb(116, 116, 116);
  background-color: rgba(255, 255, 255, 1);
}

footer {
  font-size: 2rem;
  text-align: center;
}